doctype
html
  head
    title Dashboard
    //link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css")
    link(rel='stylesheet', href="/css/demo.css")
    link(rel='stylesheet', href="/css/bootstrap.css")
    
    script(src="/js/jquery-2.1.1.min.js")
    script(src="/js/demo.js")
  body
    .container
      center
        font(size='100') Light Controls
        
      h2 Room 1 (Red LED)
      .row.voffset
        .col-md-6
          button.btn.btn-block.btn-lg.btn-success#1 Manual
        .col-md-6
          button.btn.btn-block.btn-lg.btn-primary#3 Automatic
      center.row.vsmallset
        h2 Intensity
        .col-md-3
        .col-md-6
          input(type='range',min='0',max='255',value='0',id='intensity1')
      .row.voffset
      h2 Room 2 (Green LED)
      .row.voffset
        .col-md-6
          button.btn.btn-block.btn-lg.btn-success#4 Manual
        .col-md-6
          button.btn.btn-block.btn-lg.btn-primary#6 Automatic
      center.row.vsmallset
        h2 Intensity
        .col-md-3
        .col-md-6
          input(type='range',min='0',max='255',value='0',id='intensity2')
          